<?php 
####################################################################################################
#                                          GENERAL CONFIGS                                         #
####################################################################################################
// Set these two lines - they are very important
// In linux run `updatedb` and `locate nagios.cfg` and `locate status.dat` to find these files
// They are usually placed in /usr/local/nagios/etc/nagios.cfg and /usr/local/nagios/var/status.dat
$nagios_cfg_file = "/usr/local/nagios/etc/nagios.cfg";
$nagios_status_dat_file = "/usr/local/nagios/var/status.dat";

// Hostgroup filter - only show hosts from this hotgroup
// Leave empty for not filtering
$nagMapR_FilterHostgroup  = '';

// Use this only to generate extra information for support - this will add a lot of information
// into the rendered index file
$nagMapR_Debug = 0;

####################################################################################################
#                                         MAP PREFERENCES                                          #
####################################################################################################
// Set to the centre of your map (lat,long)
$nagMapR_MapCentre = '-4.018935, -52.607260';

// Default zoom level of the map
$nagMapR_MapZoom = 6.2;

// Which google maps type to use?
// ROADMAP
// SATELLITE
// HYBRID
// TERRAIN
$nagMapR_MapType = 'ROADMAP';

####################################################################################################
#                                      NAGMAP REBORN FEATURES                                      #
####################################################################################################
// Sets the translation file name.
// See the folder 'langs' for available translations.
// You can create your own translation by copying and renaming one of the files and making the
// necessary changes.
$nagMapR_Lang = 'en-EN';

// Show last occurrences (ChangesBar)? 
// 1 = YES.
// 0 = NO.
$nagMapR_ChangesBar = 1;

// Percentage size occupied by the ChangesBar on the screen. Use just numbers.
$nagMapR_ChangesBarSize = 15;

// Font size in pixels used in ChangesBar. Use just numbers.
$nagMapR_FontSize = 15;

// Defines the date format used in the ChangesBar.
// 1 = DD/MM/YYYY
// 2 = MM/DD/YYYY
// 3 = YYYY/MM/DD
$nagMapR_DateFormat = 1;

// Play alert when a server's status changes to down?
// To change the alert sound, simply replace the file 'Beep.mp3' in the NagMap Reborn folder
// 1 = YES.
// 0 = NO.
$nagMapR_PlaySound = 1;

// Show lines between hosts and their parents.
// 1 = YES.
// 0 = NO.
$nagMapR_Lines = 1;

// Time in seconds, to update the hosts status. Use just numbers.
$nagMapR_TimeUpdate = 10;

####################################################################################################
#                                       SECURITY INFORMATION                                       #
####################################################################################################
// Security key to protect data from external requests (use only letters and numbers)
$nagMapR_key = '4T4whvqi9wthrvGXhzas21JTrCpUcSd5Nc6PWct6QOQuGKtRp2';
?>