<?php
return [
    'general' => [
        // Set these two lines - they are very important
        // In linux run `updatedb` and `locate nagios.cfg` and `locate status.dat` to find these files
        // They are usually placed in /usr/local/nagios/etc/nagios.cfg and /usr/local/nagios/var/status.dat
        'cfg_file' => "/usr/local/nagios/etc/nagios.cfg",
        'status_file' => "/usr/local/nagios/var/status.dat",

        // Use Debug?
        // Use this only to generate extra information for support.
        // 0 = NO.
        // 1 = YES.
        'debug' => 1,
    ],
    'security' => [
        // Security key to protect data from external requests when not using authentication (use only letters and numbers)
        'key' => "tmRlL3QYisEuYITLaacJfsfGAYa3AAVMH9LizQzpHoishwMors1IUhA26drTOP112CL7oi2CbNGMFlmCArpR01CyJ1Sn0onH",

        // Allow settings to be overwritten via url parameters 
        // (Useful for use on more than one monitor with different information)
        'allow_overwrite' => 0,

        // Request authentication when accessing the page?
        // 0 = NO.
        // 1 = YES (Strongly recommended).
        'use_auth' => 1,

        // User used for authentication.
        'user' => "ngradmin",

        // Password used for authentication.
        'user_pass' => "ngradmin",
    ],
    'map' => [
        // Set the centre of your map (lat,long)
        'centre' => "-6.469293, -50.913464",

        // Default zoom level of the map
        'zoom' => 6.2,

        // Leaflet styles/tiles.
        // Use a provider of images/vectors other than OpenStreetMap.
        // You can see several for free here:
        // (http://leaflet-extras.github.io/leaflet-providers/preview/)
        // Some of these need a token to access. Put the full link.
        // For example: https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_nolabels/{z}/{x}/{y}{r}.png
        // How to use the Mapbox styles:
        // https://github.com/jocafamaka/nagmapReborn/wiki/How-to-use-the-Mapbox-styles%3F
        // Leave blank to use the default.
        'style' => "",
    ],
    'ngreborn' => [
        // Sets the translation file name.
        // See the folder "resources/langs" for available translations.
        // You can create your own translation by copying and renaming one of the files and making the
        // necessary changes.
        'language' => "en-US",

        // Hostgroup filter - only show hosts from this hostgroup
        // Leave empty for not filtering
        'filter_hostgroup' => "",

        // Service filter - Use the status of a specific service as the primary. The service that will be used
        // to set the status on the map. Useful when there is more than one service per host.
        // More than one service can be used in the filter (using ";" as a separator), as long a single host
        // does not contain more than one of the filtered services.
        // It is not necessary to indicate the full name of the service, but a single part that sets it apart
        // from others is enough.
        // Services are filtered by service_description.
        // Leave empty for not filtering
        'filter_service' => "",

        'changes_bar' => [
            // Select ChangesBar mode
            // 0 = Off.
            // 1 = History mode. (Displays all occurrences sequentially with date and time)
            // 2 = Alert mode. (Shows only hosts who are DOWN, CRITICAL or in WARNING, with the elapsed time)
            // 3 = Alert mode sidebar. (Same as above with less information)
            'mode' => 2,

            // Percentage size occupied by the ChangesBar on the screen. (use only numbers)
            'size' => 40,

            // Font size in pixels used in ChangesBar. (use only numbers)
            'font_size' => 20,

            // Includes a field at the top of ChangesBar to filter the information displayed regardless of usage mode.
            // Useful when there are a lot of hosts.
            // 0 = NO.
            // 1 = YES.
            'filter' => 1,
        ],

        // Defines the display priority for each status.
        // Who should be on top when there is more than one host in the same space.
        'priorities' => [
            'unknown' => 1,
            'up' => 2,
            'warning' => 3,
            'critical' => 4,
            'down' => 5
        ],

        // Play alert when a host's status changes to down?
        // To change the alert sound, simply replace the file "alert.mp3" in the resources folder
        // In some browsers it is necessary for user to interact with the page before it emits a sound, 
        // so an initial interaction is required for the alert to be played.
        // 0 = NO.
        // 1 = YES.
        'play_sound' => 1,

        // Defines if icons will be animated when the host status is updated.
        // Disable for best performance when there are many hosts (500+)
        // 0 = NO.
        // 1 = YES.
        'update_animation' => 1,

        // The default icon style to be used when there is no specific definition;
        // Pre-existing options: marker_retro, marker_shadow, marker_border,
        // wifi, wifi_border_dark, wifi_border_light, 
        // router, router_border_dark, router_border_light
        // server, server_border_dark, server_border_light
        // This option can be overridden by the definitions contained in resources/icons/custom_icons.json
        // Read more: https://github.com/jocafamaka/nagmapReborn/wiki/About-icons-styles
        'default_icon_style' => "marker_shadow",

        // Show lines between hosts and their parents.
        // 0 = NO.
        // 1 = YES.
        'lines' => 1,

        // Time in seconds, to update the hosts status, minimum 10. (use only numbers)
        'time_update' => 10,

        // Automatic errors reporting?
        // 0 = NO.
        // 1 = YES.
        'reporting' => 1,
    ],
];
