.bubble {
  font-family: arial;
  font-size: 10pt;
}

table, tr, td {
  font-family: verdana;
  font-size: 9pt;
}

hr {
  border:1;
}

.div_fixa {
  position:fixed;
  top: 10px;
  left: calc(50% - 125px);
}

h3 {
  font-family: arial;
}

a{
  text-decoration: none;
  color: green;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background: white;
  font-weight: bold;
}

.form-group input{
  width: calc(100% - 8%);
  color: #fff;
  border: 2px solid #4f5b63;
  padding: 2px 0px 2px 5px;
  background: #2c313b;
  font-family: times;
  font-weight: bold;
  text-shadow:2px 2px 4px #000 !important;
}

.form-group .cleanS{
  font-family: arial;
  cursor: pointer;
  min-width: calc(8% - 9px) !important;
  color: #fff;
  border: 2px solid #4f5b63;
  padding: 2px 0px 2px 5px;
  background: #333;
  text-shadow:2px 2px 4px #000 !important;
  display:-webkit-inline-box;
}

.form-group .cleanS:hover{
  background: #7d2828;
}
.news {
  transition: opacity 500ms linear, max-height 500ms linear;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2d862d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.filter{
  cursor: url("img/cursorFilter.png"), auto;
}

[tooltip]{
  position:relative;
  display:inline-block;
}
[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:-2px;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.9) transparent transparent transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='buttom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:-2px;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(128, 128, 128, 0.9);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
}

[tooltip-position='buttom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.changesBarLine{
  text-shadow:2px 2px 4px #000000 !important; 
  margin-bottom:1px !important; 
  font-weight:bold !important; 
  padding-left:1% !important; 
  width:99% !important;  
  color:white !important; 
  vertical-align: middle !important;
  cursor: pointer;
}

.changesBarLine.UP{
  background:#159415 !important;
}

.changesBarLine.WAR{
  background:#c5d200 !important;
}

.changesBarLine.CRIT{
  background:#ff6a00 !important;
}

.changesBarLine.DOWN{
  background:#770101 !important;
}

.changesBarLine.UNK{
  background:#A9ABAE !important;
}

[class^=swal2-]{
  font-family: arial;
}