.bubble {
  font-family: arial;
  font-size: 10pt;
}

table, tr, td {
  font-family: verdana;
  font-size: 9pt;
}

hr {
  border:1;
}

.div_fixa {
  position:fixed;
  top: 10px;
  left: calc(50% - 125px);
}

h3 {
  font-family: arial;
}

a{
  text-decoration: none;
  color: green;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background: white;
  font-weight: bold;
}

.news {
  transition: opacity 500ms linear, max-height 500ms linear;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2d862d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  top: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
  transition: opacity 450ms linear;   
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  top: -300px;
  border: 1px solid #888;
  width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: top 350ms linear;
  border-radius: 17px;
}

.modal-header {
  font: normal normal 20px/20px "Helvetica";
  padding: 2px 16px;
  background-color: #6c757d;
  color: white;
  border-top-right-radius: 15px; 
  border-top-left-radius: 15px;
}

.modal-body {
  font: normal normal 20px/20px "Helvetica";
  padding: 25px;
}

.modal-footer {
  padding: 2px 16px;
  text-align: right;
  background-color: #6c757d;
  color: white;
  border-bottom-right-radius: 15px; 
  border-bottom-left-radius: 15px;
}

.modal-btn {
	font: normal normal 20px/20px "Helvetica";
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: #2d862d;
  border-color: #2d862d;
  margin: 10px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.modal-btn:hover {
  color: #fff;
  background-color: #2c822c;
  border-color: #2c822c;
}

.changesBarLine{
  text-shadow:2px 2px 4px #000000 !important; 
  margin-bottom:1px !important; 
  font-weight:bold !important; 
  padding-left:1% !important; 
  width:99% !important;  
  color:white !important; 
  vertical-align: middle !important
}

.changesBarLine.up{
  background:#159415 !important;
}

.changesBarLine.war{
  background:#c5d200 !important;
}

.changesBarLine.crit{
  background:#ff6a00 !important;
}

.changesBarLine.down{
  background:#770101 !important;
}

.changesBarLine.unk{
  background:#A9ABAE !important;
}
