body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

/**************************************/

#cover {
    width: 400vw;
    position: fixed;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    color: white;
    background-color: #00AFA9;
    z-index: 1100;
    width: 100%;
    height: 100%;
}

.row {
    margin-bottom: 0px !important;
}

.hidden {
    display: none;
}

#cover_error {
    z-index: 1110;
    background: radial-gradient(circle, rgb(236, 91, 91) 1%, rgb(204, 29, 29) 44%, rgb(175, 0, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
}

#welcome {
    z-index: 1120;
    position: absolute;
}

.slide {
    text-align: center;
    float: left;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5vw; */
}

.slide img {
    display: block;
    max-height: 600px;
    max-width: 600px;
    margin: auto;
}

.slide svg {
    display: block;
    max-height: 600px;
    max-width: 600px;
    margin: auto;
    height: 90vw;
    width: 90vw;
}

.slide h2 {
    display: inline-block;
    font-size: 5vh;
    font-weight: normal;
    font-family: times;
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px 5px #000;
    max-width: 80vw;
}

.slide span {
    display: inline-block;
    font-size: 5vh;
    font-weight: normal;
    font-family: times;
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px 5px #000;
}

/**************************************/

.bubble {
    font-family: arial;
    font-size: 10pt;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
tr,
td {
    font-family: verdana;
    font-size: 9pt;
    padding: 2px;
}

hr {
    border: 1;
}

#map {
    width: 100%;
    top: 0;
    height: 100%;
}

#debug {
    position: fixed;
    top: 25%;
    right: -204px !important;
    z-index: 2000;
    display: grid;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#debug:hover {
    right: -154px !important;
}

.button {
    opacity: 0.3;
    margin-top: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.button:hover {
    opacity: 1 !important;
    right: 154px !important;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

.button:hover span:after {
    opacity: 1;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.debug_console {
    position: absolute;
    overflow: hidden;
    display: block;
    width: 0%;
    height: 100%;
    z-index: 5000;
    max-width: 300px;
    transition: width ease-in-out 1s, min-width ease-in-out 1s;
    background: #000;
}

.debug_console.open {
    width: 25%;
}

#console_text {
    overflow: auto;
    height: 100%;
    padding: 5px;
}

#console_text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#console_text::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#console_text::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.debugText {
    padding: 10px 0px 10px 0;
    margin: 0;
}

.debugText.ok {
    border-bottom: 1px solid green;
    color: #0eff00;
}

.debugText.error {
    border-bottom: 1px solid red;
    color: #ff0000;
}

#error_button {
    position: fixed;
    z-index: 2000;
    right: 20px;
    top: 15px;
}

.modal {
    z-index: 3002 !important;
    border-radius: 10px !important;
    /* opacity: 0.5 !important; */
    background: #00000099 !important;
    color: #f44336 !important;
    text-shadow: 2px 2px 4px #000 !important;
}

.modal-footer {
    background-color: #00000021 !important;
}

.modal-close {
    color: #fff !important;
}

h3 {
    font-family: arial;
}

tr:nth-child(even) {
    background-color: #dadada;
}

a {
    text-decoration: none;
    color: green;
}

a:visited {
    text-decoration: none;
}

.swal2-footer a:hover {
    font-weight: bold;
}

.address-link {
    text-decoration: none;
    color: white;
}

.address-link:visited {
    text-decoration: none;
}

.address-link:hover {
    font-weight: bold;
    background: none !important;
}

#filter {
    display: none;
    background-color: #4f5b63;
}

::placeholder {
    color: #f3f1f1;
    opacity: 1;
}

.form-group {
    display: flex;
    width: 100%
}

.form-group input {
    color: #fff;
    border: 2px solid #4f5b63;
    background: #2c313b;
    font-family: times;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000 !important;
    width: 89%;
    float: left;
}

.form-group .cleanS {
    font-family: arial;
    cursor: pointer;
    color: #fff;
    border: 2px solid #4f5b63;
    background: #333;
    text-shadow: 2px 2px 4px #000 !important;
    display: block;
    margin: 0;
    float: right;
    flex: 10%;
}

.form-group .cleanS:focus {
    outline: none;
}

.form-group img {
    margin: 0 auto;
}

.form-group .cleanS:hover {
    background: #7d2828;
}

.news {
    transition: opacity 500ms linear, max-height 500ms linear;
}

.filter {
    cursor: url("img/cursorFilter.png"), auto;
}

.filter:focus {
    outline: none;
}

#changesbar {
    display: none;
    padding-top: 2px;
    padding-left: 1px;
    background: #3c3c3c;
    height: 25%;
    overflow: auto;
}

.changesBarLine {
    text-shadow: 2px 2px 4px #000000 !important;
    margin-bottom: 1px !important;
    font-weight: bold !important;
    padding-left: 1% !important;
    width: 99% !important;
    color: white !important;
    vertical-align: middle !important;
    cursor: pointer;
}

.changesBarLine.UP {
    background: #159415 !important;
}

.changesBarLine.WAR {
    background: #c5d200 !important;
}

.changesBarLine.CRIT {
    background: #ff6a00 !important;
}

.changesBarLine.DOWN {
    background: #770101 !important;
}

.changesBarLine.UNK {
    background: #A9ABAE !important;
}

[class^=swal2-] {
    font-family: arial;
}

@media only screen and (max-width: 650px) {
    .mapdb3 {
        height: 70% !important;
        width: 100% !important;
    }

    .db3 {
        height: 30% !important;
        display: block !important;
    }
    .debug_console.open {
        width: 50%;
    }
}

/* Logo animation */

#logo_svg {
    content: url(img/NagmapR-Logo.svg);
}

#marker_pin_error {
    fill: #C92A2A
}

.fil0 {
    fill: none
}

.fil2 {
    fill: #BDBFC1
}

.fil1 {
    fill: #0000008f;
}

.fil5 {
    fill: #007F00;
}

.fil6 {
    fill: #155400;
}

.fil4 {
    fill: #FEFEFE;
    fill-rule: nonzero;
}

.fil3 {
    fill: #0000008f;
    fill-rule: nonzero;
}

.fillPinAnimation {
    animation: marker_pin_animation 10s cubic-bezier(0.68, 0.02, 0.35, 0.96);
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition: fill 200ms ease;
}

.fillCircleAnimation {
    animation: marker_circle_animation 10s cubic-bezier(0.68, 0.02, 0.35, 0.96);
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition: fill 200ms ease;
}

@keyframes marker_pin_animation {
    0% {
        fill: #007F00;
    }

    20% {
        fill: #EBE700;
    }

    40% {
        fill: #F9A531;
    }

    80% {
        fill: #C92A2A;
    }

    100% {
        fill: #007F00;
    }
}

@keyframes marker_circle_animation {
    0% {
        fill: #155400;
    }

    20% {
        fill: #B0AD06;
    }

    40% {
        fill: #B87B3B;
    }

    80% {
        fill: #663333;
    }

    100% {
        fill: #155400;
    }
}

/* End logo animation */